body {
  background-image: url("../RE3 assets/GCYOApg1stdeath.jpeg");
  background-size: cover;
}

.makeMeWhite {
  color: white;
}

.container {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #000000bb;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  height: 45px;
  width: 270px;
  background-color: #0000004d;
  padding: 15 px;
  justify-content: space-evenly;
}
