body {
  background-image: url("/assets/GCYOATitlePic.jpeg");
  background-size: cover;
}

.titlePage {
  display: flex;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

.buttonContainer {
    display: flex;
    height: 23px;
    width: 80px;
    background-color: #f0f0f0ad;
    margin-bottom: 20px;
}

.centerMe {
    display: flex;
    justify-content: center;
}